<div class="pb-4">
  <mat-card class="p-4 leading-7 sm:max-w-[calc(100%-20rem)] mx-auto">
    <!-- Header Section -->
    <div class="flex justify-between items-center px-4 py-2">
      <h3 class="text-lg font-semibold">{{ aboutMe.info.title }}</h3>
      <div class="flex space-x-2"></div>

      <div class="flex space-x-2">
        <button mat-icon-button (click)="openPdf()">
          <mat-icon matTooltip="Curriculum vitae">description</mat-icon>
        </button>
        <a [href]="'tel:' + aboutMe.email" target="_blank" mat-icon-button>
          <mat-icon matTooltip="E-mail">email</mat-icon>
        </a>

        <a [href]="aboutMe.github" target="_blank" mat-icon-button>
          <mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon>
        </a>
        <a [href]="aboutMe.linkedin" target="_blank" mat-icon-button>
          <mat-icon svgIcon="linkedin" matTooltip="LinkedIn"></mat-icon>
        </a>
      </div>
    </div>
    <!-- <mat-card-header>
    <mat-card-title>{{ "app.about.me" | translate }}</mat-card-title>
  </mat-card-header> -->
    <mat-card-content>
      <div class="flex flex-col items-center">
        <!-- Profile Picture -->
        <img src="img/profile.jpeg" alt="Profile Picture" class="w-32 h-32 rounded-full mb-4" />

        <!-- Name -->
        <h2 class="text-2xl font-bold mb-2">{{ aboutMe.name }}</h2>

        <!-- Technology Chips -->
        <div class="flex gap-2 overflow-x-auto whitespace-nowrap px-2 w-full sm:w-auto">
          @for (technology of technologies; track $index) {
          <mat-chip class="inline-block">
            <mat-icon matChipAvatar [svgIcon]="technology.icon"></mat-icon>
            {{ technology.name }}
          </mat-chip>
          }
        </div>

        <!-- Description -->
        <div class="flex justify-center p-4 max-w-2xl">
          <p class="text-justify">{{ aboutMe.info.description }}</p>
        </div>
      </div>

      <div class="flex flex-col-reverse sm:flex-row justify-center gap-4">
        <div class="flex flex-col sm:flex-row justify-center p-4">
          <mat-list>
            <div mat-subheader [translate]="'app.about.list.education'"></div>
            @for (education of aboutMe.education; track $index) {
            <mat-list-item class="my-2">
              <mat-icon matListItemIcon>{{ education.icon }}</mat-icon>
              <div matListItemTitle>{{ education.title }}</div>
              <div matListItemLine>{{ education.school.name }}</div>
              <div matListItemLine>{{ education.school.specialization }}</div>
              <div matListItemLine>{{ education.date }}</div>
            </mat-list-item>
            }
          </mat-list>
          <mat-list>
            <div mat-subheader [translate]="'app.about.list.jobs'"></div>
            @for (job of aboutMe.jobs; track $index) {
            <mat-list-item class="my-2">
              <mat-icon matListItemIcon>work</mat-icon>
              <div matListItemTitle>{{ job.title }}</div>
              <div matListItemLine>{{ job.description }}</div>
              <div matListItemLine>{{ job.company }}</div>
              <div matListItemLine>{{ job.date }}</div>
            </mat-list-item>
            }
          </mat-list>
        </div>
      </div>
      <mat-divider class="!my-8"></mat-divider>

      <div class="text-center">
        <a mat-button routerLink="/projects"><span [translate]="'app.about.projects.button'"></span></a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
