<section class="app-showcase mb-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4 items-start">
    @for (project of projects; track $index) {

    <mat-card class="sm:p-8 px-2 py-8 relative">
      <a [routerLink]="['/projects/' + project.id]" class="absolute right-4 top-4">
        <mat-icon matTooltip="View project">open_in_new</mat-icon>
      </a>
      <div class="flex flex-col gap-2">
        <mat-accordion class="my-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title [translate]="project._i18n + '.title'"></mat-panel-title>
              <mat-panel-description class="sm:!flex !hidden" [translate]="project._i18n + '.summary'"></mat-panel-description>
            </mat-expansion-panel-header>
            <p class="text-sm text-left" [translate]="project._i18n + '.description'"></p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
        <div class="flex flex-col h-full">
          <!-- Project Content Section -->
          <div class="flex flex-wrap gap-1 flex-grow">
            @for (technology of project.technologies; track $index) {
            <mat-chip>
              <mat-icon matChipAvatar [svgIcon]="technology.icon"></mat-icon>
              {{ technology.name }}
            </mat-chip>
            }
          </div>

          <!-- GitHub Icon Section -->
          <div class="flex items-center self-end mt-2 leading-7">
            <a [href]="project.github_url" [target]="'_blank'" mat-icon-button [disabled]="project.private">
              <mat-icon svgIcon="github" matTooltip="GitHub repository"></mat-icon>
            </a>
          </div>
        </div>
      </div>
    </mat-card>
    }
  </div>
</section>
