<nav class="sticky top-0 dark z-10 px-2" [class.hidden-toolbar]="!toolbarVisible()">
  <mat-toolbar>
    <span class="flex-grow flex-shrink"></span>
    <button mat-button matTooltip="Change language" (click)="useLanguage()">{{ language() }}</button>
    <button mat-icon-button (click)="useMode()">
      <mat-icon matTooltip="Change theme">{{ colorMode() }}</mat-icon>
    </button>
    <a [href]="LINKEDIN_URL" target="_blank" mat-icon-button>
      <mat-icon svgIcon="linkedin" matTooltip="LinkedIn"></mat-icon>
    </a>
    <a [href]="GITHUB_URL" target="_blank" mat-icon-button>
      <mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon>
    </a>
  </mat-toolbar>
</nav>
<div class="dynamic-bg text-center sm:p-5 p-0 h-lvh rounded">
  <router-outlet></router-outlet>
</div>
