@use '@angular/material' as mat;
@import 'highlight.js/styles/github.css';

:root {
    --light-bg: #d7e3ff;
    --dark-bg: #000000;
}

html {
    color-scheme: light dark;
    @include mat.theme((color: mat.$azure-palette));
}


html.dark {
    color-scheme: dark;
    --bg-color: var(--dark-bg);
}

html.light {
    color-scheme: light;
    --bg-color: var(--light-bg);
}

.dynamic-bg {
    background-color: var(--bg-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;